@font-face
{
	font-family: abeakrg;
	src: url('abeakrg.ttf');
} 

body
{
	margin: 0px;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	font-family: abeakrg;
	cursor: default;
}

#content
{
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

#background
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 45vh;
	overflow: hidden;
}

#background img
{
	width: 100vw;
	min-height: 65vh;
	max-height: 100vh;
	position: absolute;
	top: -20vh;
	left: 0px;
}

#background .title
{
	position: absolute;
	width: 100vw;
	height: 12vh;
	top: 33vh;
	left: 0px;
	
	color: white;
	font-size: 30pt;
	text-align: center;
	line-height: 12vh;
	
	background-color: rgba(108, 29, 56, 0.4);
}

#inner-content
{
	position: absolute;
	width: 100vw;
	height: 55vh;
	top: 45vh;
	left: 0px;
	
	background-color: rgb(108, 29, 56);
	background-image: url("pattern.png");
	background-size: no-repeat;
}

#inner-content iframe
{
	align-self: center;
	-webkit-align-self: center;
	border: 4px ridge white;
	background-color: white;
	width: 560px;
	height: 315px;
}

#window
{
	align-self: center;
	-webkit-align-self: center;
	border: 4px ridge white;
	text-align: center;
	width: 560px;
	height: 315px;
	color: white;
	font-size: 22pt;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	line-height: 40pt;
	background-color: rgb(108, 29, 56);
}

#header
{
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
}

#header img.logo
{
	align-self: baseline;
	-webkit-align-self: baseline;
	
	width: 9vw;
	margin: 2vw 0px 0px 2vw;
}

.menubutton
{
	margin: 5vh 4vw 5vh 4vw;
	width: 45px;
	height: 50px;
	background-image: url("menubutton.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.navbar
{
	width: 15vw;
	height: 100vh;
	background-color: rgba(108, 29, 56, 0.8);
	display: none;
	box-shadow: -3px -1px 2px 1px #471224;
	color: white;
	white-space: nowrap;
}

.navbar a
{
	width: 50px;
	height: 100px;
	margin-top: 50px;
	
	text-decoration: none;
	color: white;
}

.navbar hr
{
	opacity: 0.2;
}

.navbar *
{
	margin: 1vw;
}

.navbar .close
{
	text-align: right;
}

.container
{
	display: flex;
	display: -webkit-flex;
}

.container.split
{
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.container.centered
{
	justify-content: center;
	-webkit-justify-content: center;
}

#content span
{
	margin: 0px;
	padding: 0px;
}

/* COLORS */
.maroon
{
	color: #6C1D38;
}

.white
{
	color: white;
}

.black
{
	color: black;
}

@keyframes fade-in
{
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes fade-out
{
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}

@keyframes menu-slide-in
{
	from {
		width: 0vw;
	}
	
	to {
		width: 15vw;
	}
}

@keyframes menu-slide-out
{
	from {
		width: 15vw;
	}
	
	to {
		width: 0vw;
	}
}